
article{
    width: 600px;
    height:300px;
    margin-bottom:30px ;
    overflow: hidden;
    border: 1px solid grey;
     text-overflow: ellipsis;
    }

article img{
    width: 300px;
    height: 300px;
    
    }

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 1200px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 765px){
    article{
    height: auto;
    width: 400px;
    }
    article img{
    width: 50%;
    height: auto;
    margin-left: 110px;
 
    }

}
