<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-around">
        <button class="btn link-dark" (click)="onClickAll()">ALL</button>
        <a [class]="'btn link-secondary ' +  post.categoria.toLowerCase()" (click)="onClick($event)"
            *ngFor="let post of posts">{{post.categoria}}</a>

    </nav>
</div>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="display-4 fst-italic">Welcome to the Blog</h1>
            <p class="lead text-muted">First of all, this blog is the corner of the internet, where you can find
                the latest news on all the topics that interest you.
                We hope that our publications are of interest to you.
                We will keep you connected to everything that is happening in the world around us and the
                business we are a part of.</p>
        </div>
    </div>
</section>


<div class="container">
    <article class="blog" *ngFor="let post of posts">
        <div class="card-group">

            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <strong
                                [class]="'d-inline-block mb-2 ' + post.categoria.toLowerCase()">{{post.categoria}}</strong>
                            <h3 class="mb-0">{{post.titulo}}</h3>
                            <p class="mb-1 mt-2 text-muted"> {{post.autor}} - {{post.fecha}}</p>
                            <p class="card-text mb-auto">{{post.subtitulo}}
                            </p>
                            <a href="#" class="enlace" [routerLink]="['/',post.id]">Continue
                                reading...</a>
                        </div>
                    </div>
                    <div class="col-md-6 imagen">
                        <img [src]="post.imagen" alt="..." class="card-img-top">
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="newpost">
        <hr>
        <h4 class="fs-3 fst-italic">If you have got this far it is probably because you have liked our Blog!!</h4>
        <p class="fs-4 lead text-muted">Would you like to help us grow?</p>
        <a class=" fs-3 text-decoration-none link-secondary" href="#" [routerLink]="['/new']">CREATE YOUR POST</a>
    </div>
</div>