<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="display-4 fst-italic">Welcome to the Blog</h1>
            <p class="lead text-muted">First of all, this blog is the corner of the internet, where you can find
                the latest news on all the topics that interest you.
                We hope that our publications are of interest to you.
                We will keep you connected to everything that is happening in the world around us and the
                business we are a part of.</p>
        </div>
    </div>
</section>


<div class="container">
    <article class="blog">
        <div class="card-group">

            <div class="card">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h3 class="mb-0">Featured post</h3>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 imagen">
                        <img src="http://www.andaluciaesdigital.es/educarparaproteger/adolescentes/images/galeria/perfiles-tic/contenidos-blogs.jpg"
                            alt="..." class="card-img-top">
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>